.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  
}

.mainHead{
  color: white;
}

.header .nav{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.header .nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .nav ul li {
  list-style-type: none;
  margin: 0px 10px;
}